build/
RicohAPIAuth.xcodeproj/*.pbxuser
RicohAPIAuth.xcodeproj/*.mode*
RicohAPIAuth.xcodeproj/xcuserdata/
RicohAPIAuth.xcodeproj/project.xcworkspace/

Sample/RicohAPIAuthSample.xcodeproj/*.pbxuser
Sample/RicohAPIAuthSample.xcodeproj/*.mode*
Sample/RicohAPIAuthSample.xcodeproj/xcuserdata/
Sample/RicohAPIAuthSample.xcodeproj/project.xcworkspace/

RicohAPIAuth.xcworkspace/xcuserdata

.DS_Store
*.swp
