build/
RicohAPIAuth.xcodeproj/*.pbxuser
RicohAPIAuth.xcodeproj/*.mode*
RicohAPIAuth.xcodeproj/xcuserdata/
RicohAPIAuth.xcodeproj/project.xcworkspace/

Example/RicohAPIAuthSample.xcodeproj/*.pbxuser
Example/RicohAPIAuthSample.xcodeproj/*.mode*
Example/RicohAPIAuthSample.xcodeproj/xcuserdata/
Example/RicohAPIAuthSample.xcodeproj/project.xcworkspace/

RicohAPIAuth.xcworkspace/xcuserdata

.DS_Store
*.swp
