build/
RicohAPIAuth.xcodeproj/*.pbxuser
RicohAPIAuth.xcodeproj/*.mode*
RicohAPIAuth.xcodeproj/xcuserdata/
RicohAPIAuth.xcodeproj/project.xcworkspace/

RicohAPIAuthSample/RicohAPIAuthSample.xcodeproj/*.pbxuser
RicohAPIAuthSample/RicohAPIAuthSample.xcodeproj/*.mode*
RicohAPIAuthSample/RicohAPIAuthSample.xcodeproj/xcuserdata/
RicohAPIAuthSample/RicohAPIAuthSample.xcodeproj/project.xcworkspace/

.DS_Store
*.swp
